@media screen and (min-width: 1200px) {
    header {
        text-align: center;
        margin: 0px;
        padding: 100px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .title {
        margin: 0px;
        padding: 0px;
        font-size: 60px;
    }

    .Logo {
        width: 400px;
    }
    
    .header-content {
        margin: 0px;
        padding: 10px;
    }
    
    
    section {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .Content {
        align-items: center;
        text-align: center;
        /* display: flex; */
    }
    
    .Columns {
        height: 470px;
    }
    
    article {
        margin: 0px;
        padding: 0px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }        
}