@media screen and (min-width: 400px) {
    body {
        margin: 0px;
        padding: 0px;
        font-family: monospace;
    }
        
    header {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-size: 100%;
    }

    .title {
        font-size: 20px;
        text-shadow: 0 0 1px, 0 0 2px;
    }

    .Logo {
        width: 200px;
    }

    section {
        margin: 0px;
        padding: 30px;
        text-align: center;
        background-color: rgb(35, 44, 54);
        background-size: 100%;
    }

    .Content {
        margin: 0px;
        padding: 10px;
    }

    .Columns {
        width: 300px;
        height: 400px;
    }

    .Columns:hover {
        margin: 0px;
        padding: 10px;
    }

    article {
        margin: 0px;
        padding: 100px;
        background-color: rgb(35, 44, 54);;
    }

    .article {
        margin: 50px;
        padding: 50px;
        text-align: center;
    }

    footer {
        margin: 0px;
        padding: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    nav {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    .Icons {
        width: 30px;
    }

    h1 {
        font-size: 30px;
    }

}
