@media screen and (min-width: 400px) {
   
    header {
        text-align: center;
        margin: 0px;
        padding: 0px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .title {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
    }

    .Logo {
        width: 200px;
    }
    
    .header-content {
        margin: 0px;
        padding: 10px;
    }
    
    
    section {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .Content {
        display: inline;
    }
    
    .Columns {
        width: 300px;
        height: 420px;
    }
    
    article {
        margin: 0px;
        padding: 0px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
    } 

    .article {
        margin: 0px;
        padding: 20px;
    }
    
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}